@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
    var latestFestival = Model.First();
}

    <div class="titel"
     <p>
         Joris Festival
     </p>




<img class="img" src="/Img/festival.jpeg">

<div class="festivalnu">
    <h1>@latestFestival.naam</h1>
    Plaats: @latestFestival.plaats</br>
    Beschrijving: @latestFestival.beschrijving</br>
    Prijs: @latestFestival.prijs </br>
    Data: @latestFestival.start_dt.ToString("D") - @latestFestival.eind_dt.ToString("D") </br> </br>
    <img src="@latestFestival.plaatje" /> </br>


</div>







