@using SchoolTemplate.Database;
@model List<Festival>


@foreach (Festival f in Model)


{
    <div class="doosje">
        <a class="detailpaginalink" href="/festival/@f.id">@f.naam </a>
       
        <p>
            <br />
            Plaats: @f.plaats <br />
            Beschrijving: @f.beschrijving <br />
            Start: @f.start_dt.ToString("D") - Eind: @f.eind_dt.ToString("D") <br />

        </p>
        <img src ="@f.plaatje"/> 
        <br />
    </div>
}
